body{
    background-image: url(./galaxy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#f1f1f1;
    text-align: center;
}
.employpage{
  display: flex;
  width: 1200px;
  flex-wrap:wrap;
  margin: auto;
  font-family:Georgia;
  font-size: 16px;
  border: none;
}
.employpage .formdata{
width:30%;
padding:15px;
color: rgb(255, 255, 255);
}
.employpage .display_table {
padding:15px;
width:58%;
}
.employpage .display_table table{
border:solid 1px #ccc;
}
.employpage .display_table td, 
.employpage .display_table th{
border-left:solid 1px #ccc;
border-bottom:solid 1px #ccc;
padding:5px 50px;
text-align:left;
font-size:15px;
}
.employpage .display_table td:first-child, 
.employpage .display_table th:first-child{
border-left:none;
}

.employpage .display_table tr{
border-bottom:solid 1px #ccc;
}
.employpage .display_table tr:last-child td{
border-bottom:none;
}

.formdata form{
display:flex;
flex-wrap:wrap;
background:#142941;
padding:15px;
}
.formdata form label{
width:100px;
}
.formdata form input, .formdata label{
margin:10px 0;
padding:5px;
} 
.formdata form input{
width:200px;
padding:7px;
}
.formdata th{
background:#f1f1f1; 
font-size:14px; 
font-weight:bold;
text-align:left;
}
.button{
    padding:5px 10px;
    font-size:15px;
    margin:20px auto;
    display:table;
}